<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/commen/rem.js"></script>
</head>
<body>
  <div class="container"> 
    <img class="banner" src="/images/infoShow/banner.jpg">

    <div id="info" class="sec">
      <div class="title pl-10"><i class="before bkc-1"></i><span class="word">公司信息</span><span id="hide" class="f-c">收起全部<span class="tip tip-hide"></span></span></div>
      <div class="content-1 no-TB">
        <p class="cnt-title">公司情况介绍</p>
        <p>爱投资（https://www.itouzi.com）成立于2013年3月31日，总部位于北京，在重庆设有办事处。</p>
        <p>爱投资首创P2C交易模式，围绕核心企业为其上下游提供完备的供应链金融服务，合理运用金融科技的力量，助力实体经济，帮助广大投资者分享金融科技助力实体经济发展的红利。</p>
        <p>成立至今，爱投资取得了良好的经营业绩和社会效益，截至2017年9月，平台交易总额已突破350亿人民币。</p>
        <p>作为中国互联网金融协会首批会员、爱投资目前已接入央行支付清算协会征信系统、国家互联网安全技术专家委员会综合测评系统、获得公安局颁发的信息系统安全等级保护三级备案证明，并于2017年8月30日上线新网银行存管系统。</p>
        
        <p class="cnt-title">平台基本信息</p>
        <div class="box"> 
          <div class="item">
            <span class="left">平台地址</span>
            <span class="right">https://www.itouzi.com/</span>
          </div>
          <div class="item">
            <span class="left">平台简称</span>
            <span class="right">爱投资</span>
          </div>
          <div class="item">
            <span class="left">平台上线运营时间</span>
            <span class="right">2013-03-31</span>
          </div>
          <div class="item">
            <span class="left">相应电信业务<br />经营许可信息</span>
            <span class="right">京ICP150033号</span>
          </div>
          <div class="item">
            <span class="left">APP应用</span>
            <span class="right">爱投资</span>
          </div>
          <div class="item">
            <span class="left">微信</span>
            <span class="right">爱投资</span>
          </div>
        </div>

        <p class="cnt-title">平台基本信息</p>
        <div class="box"> 
          <div class="item">
            <span class="left">从业机构中文名称</span>
            <span class="right">安投融（北京）网络科技有限公司</span>
          </div>
          <div class="item">
            <span class="left">从业机构名称</span>
            <span class="right">爱投资</span>
          </div>
          <div class="item">
            <span class="left">从业机构编码</span>
            <span class="right">91110102062843994B</span>
          </div>
          <div class="item">
            <span class="left">注册资本（万元）</span>
            <span class="right">10000</span>
          </div>
          <div class="item">
            <span class="left">注册地址国家</span>
            <span class="right">中国</span>
          </div>
          <div class="item">
            <span class="left">注册地址省份</span>
            <span class="right">北京市</span>
          </div>
          <div class="item">
            <span class="left">注册地所在市</span>
            <span class="right">北京市</span>
          </div>
          <div class="item">
            <span class="left">注册具体地址</span>
            <span class="right">北京市海淀区中关村南三街6号中科资源大厦南楼7层</span>
          </div>
          <div class="item">
            <span class="left">法人机构注册<br />地区代码</span>
            <span class="right t-btm">110108</span>
          </div>
          <div class="item">
            <span class="left">成立时间</span>
            <span class="right">2013-01-03</span>
          </div>
          <div class="item">
            <span class="left">法定代表人</span>
            <span class="right">赵春霞</span>
          </div>
          <div class="item">
            <span class="left">经营范围</span>
            <span class="right">技术开发、技术咨询；经济信息咨询；会议服务；数据处理；市场调查；计算机系统服务。（企业依法自主选择经营项目，开展经营活动；依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。）</span>
          </div>
          <div class="item">
            <span class="left">联系方式（客户电话）</span>
            <span class="right">010-82872528</span>
          </div>
          <div class="item">
            <span class="left">联系方式（传真）</span>
            <span class="right">010-82872528</span>
          </div>
          <div class="item">
            <span class="left">联系方式（邮箱）</span>
            <span class="right">service@itouzi.com</span>
          </div>
          <div class="item">
            <span class="left">从业机构主<br />经营地所在国家</span>
            <span class="right t-btm">中国</span>
          </div>
          <div class="item">
            <span class="left">从业机构主<br />经营地所在省份</span>
            <span class="right t-btm">北京市</span>
          </div>
          <div class="item">
            <span class="left">从业机构主<br />经营地所在市</span>
            <span class="right t-btm">北京市</span>
          </div>
          <div class="item">
            <span class="left">从业机构主<br />经营地具体地址</span>
            <span class="right">北京市海淀区中关村南三街6号中科资源大厦南楼7层</span>
          </div>
          <div class="item">
            <span class="left">实缴资本（万元）</span>
            <span class="right">5000</span>
          </div>
          <div class="item">
            <span class="left">客户资金存管银行</span>
            <span class="right">新网银行</span>
          </div>
          <div class="item">
            <span class="left">客户资金存管说明</span>
            <span class="right">2017年8月31日上线 直接存管</span>
          </div>
          <div class="item">
            <span class="left">注册协议模板</span>
            <span class="right f-c">爱投资网站使用协议及隐私条款.pdf</span>
          </div>
        </div>

        <p class="cnt-title">公司组织架构</p>
        <img class="architecture" src="/images/infoShow/architecture.jpg">
      </div>

      <div class="btn-shadow">
        <div id="show" class="f-c">展开全部<span class="tip"></span></div>
      </div>
    </div>

    <div class="sec">
      <div class="title pl-10"><i class="before bkc-2"></i><span class="word">安全保障</span></div>
      <div class="content-1">
        <a href="">
          <img class="show-img" src="/images/infoShow/sec-01.png">
        </a>
      </div>
    </div>

    <div class="sec">
      <div class="title pl-10"><i class="before bkc-3"></i><span class="word">安全保障</span></div>
      <div class="content-1">
        <a href="">
          <img class="show-img" src="/images/infoShow/sec-02.png">
        </a>
      </div>
    </div>

    <div class="sec">
      <div class="title pl-10"><i class="before bkc-4"></i><span class="word">银行存管</span></div>
      <div class="content-1">
        <a href="">
          <img class="show-img" src="/images/infoShow/sec-03.png">
        </a>
      </div>
    </div>

    <div class="sec">
      <div class="title pl-10"><i class="before bkc-5"></i><span class="word">媒体报道</span></div>
      <div class="content-1">
        <a href="">
          <img class="show-img" src="/images/infoShow/sec-04.png">
        </a>
      </div>
    </div>

    <div class="sec">
      <div class="title pl-10"><i class="before bkc-6"></i><span class="word">运营报告</span></div>
      <div> 

      </div>
      <div class="content-1"> 
        <div class="content-2">
          <a href="">
            <img class="show-img" src="/images/infoShow/report-01.png">
          </a>
          <div class="intro">2017年半年报</div>
        </div>
        <div class="content-2">
          <a href="">
            <img class="show-img" src="/images/infoShow/report-02.png">
          </a>
          <div class="intro">2016年年报</div>
        </div>
        <div class="content-2">
          <a href="">
            <img class="show-img" src="/images/infoShow/report-03.png">
          </a>
          <div class="intro">2016年半年报</div>
        </div>
        <div class="content-2">
          <a class="hideme" href="">
            <img class="show-img" src="/images/infoShow/report-02.png">
            <div class="intro">2017年半年报</div>
          </a>
          <div class="shadow">
            <img src="/images/infoShow/waiting.png">
            <span>敬请期待...</span>
          </div>
        </div>
      </div>
    </div>

    <div class="sec">
        <div class="title pl-10"><i class="before bkc-7"></i><span class="word">审计报告</span></div>
        <div> 
  
        </div>
        <div class="content-1"> 
          <div class="content-2">
            <a href="">
              <img class="show-img" src="/images/infoShow/audit-01.png">
            </a>
            <div class="intro">审计报告</div>
          </div>
          <div class="content-2">
            <a class="hideme" href="">
              <img class="show-img" src="/images/infoShow/audit-01.png">
              <div class="intro">审计报告</div>
            </a>
            <div class="shadow">
              <img src="/images/infoShow/waiting.png">
              <span>敬请期待...</span>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script src="/javascripts/commen/zepto.min.js"></script>
  <script>
    window.onload = function() {
      
      var tits = $('.title'),
          secs = $('.sec'),
          arr = [];
      tits.each(function(i, v) {
        arr.push($(v).offset().top);
      });  

      
      
      window.addEventListener('scroll', function() {
        repaint();
      }, false);

      function repaint() {
        var num = sort(document.documentElement.scrollTop || document.body.scrollTop, arr);
        if (num == 0) {
          secs.removeClass('fixed').css('padding-top', 0);
        };
        if (num > 0) {
          secs.eq(num -1).addClass('fixed').css('padding-top', tits.eq(num -1).height()).siblings('.sec').css('padding-top', 0).removeClass('fixed'); 
        };
      };

      function sort(aim, arr) {
        if (aim < arr[0]) {
          return 0;
        };
        if (aim >=arr[0] && aim < arr[1]) {
          return 1;
        };
        if (aim >=arr[1] && aim < arr[2]) {
          return 2;
        };
        if (aim >=arr[2] && aim < arr[3]) {
          return 3;
        };
        if (aim >=arr[3] && aim < arr[4]) {
          return 4;
        };
        if (aim >=arr[4] && aim < arr[5]) {
          return 5;
        };
        if (aim >=arr[5] && aim < arr[6]) {
          return 6;
        };
      };

      var itz = {
        init: function() {
          this.bindEvent();
        },

        bindEvent: function() {
          var that = this;
          this.getDom.get('#hide').addEventListener('click', function() {
            that.getDom.get('#info').style.height = '13rem';
            that.getDom.get('.btn-shadow').style.display = 'block';
            that.getDom.get('#hide').style.display = 'none';

            
            arr = [];
            secs.removeClass('fixed').css('padding-top', 0);
            tits.each(function(i, v) {
              arr.push($(v).offset().top);
            }); 
            repaint();
          }, false);

          this.getDom.get('#show').addEventListener('click', function() {
            that.getDom.get('#info').style.height = 'auto';
            that.getDom.get('.btn-shadow').style.display = 'none';
            that.getDom.get('#hide').style.display = 'block';

            
            arr = [];
            secs.removeClass('fixed').css('padding-top', 0);
            tits.each(function(i, v) {
              arr.push($(v).offset().top);
            });
            repaint();
          }, false);
        },

        getDom: {
          doms: {},
          get: function(selector) {
            if (!this.doms[selector]) {
              this.doms[selector] = document.querySelector(selector);
            };
            return this.doms[selector];
          } 
        }
      };

      itz.init();
    };
  </script>
</body>
</html>