<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <style>
    input {
      border: none;
      background-color: #000;
      outline: none;
    }
  </style>
</head>
<body>
  <button class="btn">btn</button>

  <script>
    var btn = document.querySelector('.btn');
    btn.addEventListener('click', function() {
      console.log(1)
    }, false);

    // btn.disabled = true; 禁用
    // btn.setAttribute('disabled', 'true')
  </script>
</body>
</html>