<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <style>
    body {
      background-color: #f8f8f8;
    }
    .container {
      color: #1b2b46;      
    }
    .sec-top {
      min-width: 1000px;
      height: 450px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2560px auto;
      background-image: url('/images/pcjihe/banner.png');
    }
    .img {
      overflow: hidden;
      display: block;
    }

    .sec-banner {
      background-color: burlywood;
      width: 1000px;
      height: 300px;
      margin-top: -100px;
      margin-left: auto;
      margin-right: auto;
    }

    .sec-adv {
      margin-top: 100px;
      background-color: #ffffff;
    }
    .adv-box {
      width: 1000px;
      margin: 0 auto;
      font-size: 0;
      padding-bottom: 36px;
    }
    .adv-box .item {
      display: inline-block;
      width: 250px;
      text-align: center;
    }
    .adv-box .tit {
      font-weight: bold;
      font-size: 16px;
      line-height: 1;
      padding-top: 16px;
      padding-bottom: 16px;
      position: relative;
    }
    .adv-box .tit:before {
      content: '';
      width: 20px;
      height: 2px;
      background-color: #bfa377;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -10px;
    }
    .adv-box .lin {
      line-height: 1.6;
      font-size: 14px;
    }
    .adv-box .title, .sec-que .title {
      font-size: 26px;
      text-align: center;
      line-height: 1;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .sec-que {
      position: relative;
      padding-bottom: 130px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.8;
    }
    .sec-que .item {
      margin: 0 auto;
      width: 1000px;
      font-size: 16px;
      margin-bottom: 24px;
    }
    .sec-que .tit {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .sec-que .tit {
      padding-left: 40px;
      position: relative;
    }
    .sec-que .lin {
      padding-left: 40px;
    }
    .sec-que .tag {
      position: absolute;
      top: 50%; left: 0;
      margin-top: -14px;
      width: 28px; height: 28px;
      background-image: url('/images/pcjihe/tan.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      color: #ffffff;
      font-size: 16px;
    }
    .sec-que .tag i {
      position: absolute;
      line-height: 1;
      top: 15%;
      left: 23%;
    }

    .sec-que .btn-box {
      position: absolute;
      bottom: 0; left: 0;
      background-color: #8791a0;
      height: 100px; width: 100%;
    }
    .sec-que .btn {
      text-align: center;
      position: absolute;
      left: 50%; top: 50%;
      margin-top: -28px;
      margin-left: -115px;
      background-color: #ee5555;
      color: #ffffff;
      font-size: 24px;
      line-height: 1;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 230px;
      border-radius: 6px;
    }
    .sec-que .btn:active {
      opacity: .8;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="sec-top"></div>
    
    <div class="sec-banner"></div>

    <div class="sec-adv">
      <div class="adv-box"> 
        <p class="title">智选集合优势</p>

        <div class="item">
          <img src="/images/pcjihe/01.png">
          <p class="tit">智能分散</p>
          <p class="lin">智能分散撮合系统</p>
          <p class="lin">分散投资风险</p>
        </div>
         
        <div class="item">
          <img src="/images/pcjihe/02.png">
          <p class="tit">方便灵活</p>
          <p class="lin">持有30天可债权转让</p>
          <p class="lin">方便灵活省心</p>
        </div>
         
        <div class="item">
          <img src="/images/pcjihe/03.png">
          <p class="tit">本息保障</p>
          <p class="lin">多元化保障方案</p>
          <p class="lin">本息安全保障</p>
        </div>
         
        <div class="item">
          <img src="/images/pcjihe/04.png">
          <p class="tit">小额资产</p>
          <p class="lin">精选小额优质资产</p>
          <p class="lin">借款去向清晰透明</p>
        </div>
      </div>
    </div>

    <div class="sec-que">
      <p class="title">常见问题</p>

      <div class="item">
        <p class="tit">
          <span class="tag"><i>1</i></span>
          智选集合与省心计划最大的区别是什么？
        </p>
        <p class="lin">智选集合是爱投资依托自主研发的智能大数据分析系统、严格的风控标准及多年供应链行业深耕经验，为用户精选多种优质小额资产打包而成的投资产品，用户投资后通过智慧大数据分散投资系统实现分散投资，系统化降低投资风险。智选集合选择每日10:00、14:00、16:00、19:00固定发售，便于用户提前安排投资计划。</p>
      </div>
       
      <div class="item">
        <p class="tit">
          智选集合投资的是什么？
          <span class="tag"><i>2</i></span>
        </p>
        <p class="lin">智选集合的投资标的均是爱投资精选的优质资产，如基于行业深度知识微型供应链优质资产等，爱投资结合资产实际情况构建专注于供应链的风控模型，综合分析借款人的借款申请，把申请通过的借款信息组合到线上项目中，方便用户轻松投资，投资门槛100元。</p>
      </div>
       
      <div class="item">
        <p class="tit">
          <span class="tag"><i>3</i></span>
          智选集合如何保障用户投资本息的安全？
        </p>
        <p class="lin">智选集合由智选服务保障计划提供保障，“智选服务保障计划”是由安投融（北京）网络科技有限公司（下称“爱投资”）旗下通过www.itouzi.com及APP的网络借贷信息中介服务平台设立的、为更好的保护全体投资人的权益的服务保障计划。该计划由爱投资在资金存管银行新网银行设立一个资金专用账户（智选服务保障计划账户），当受保障借款的投资人投资的受保障借款出现逾期时，爱投资将直接使用账户内的保障金向受保障借款的投资人偿付此笔借款，弥补投资人的损失。</p>
      </div>
       
      <div class="item">
        <p class="tit">
          <span class="tag"><i>4</i></span>
          认购智选集合是否有费用？
        </p>
        <p class="lin">智选集合没有认购费，也无管理费。例如：用户投资智选集合10000元，每个付息日可收到10000元*（年化收益率/365天*本付息期内天数）的利息， 本金10000元到期时回款。</p>
      </div>
       
      <div class="item">
        <p class="tit">
          <span class="tag"><i>5</i></span>
          认购智选集合能否转让？转让是否产生费用？
        </p>
        <p class="lin">智选集合可在持有30天后进行债权转让，保证您资金的流动性。转让手续费为转让成功部分金额*0.5%，由转让方承担。【智选集合】可在持有30天后进行债权转让，保证您资金的流动性。转让手续费为转让成功部分金额*0.5%，由转让方承</p>
      </div>

      <div class="btn-box">
        <a class="btn">立即投资</a>
      </div>
    </div>
  </div>
</body>
</html>