<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>safe</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/safe.css">
  <script src="/javascripts/commen/rem.js"></script>
</head>
<body>
  <!-- <script>
    // alert( document.documentElement.clientHeight)
    // alert(document.documentElement.clientHeight/document.documentElement.clientWidth)
    var body = document.body,
        scale = document.documentElement.clientHeight / 603,
        height = document.documentElement.clientWidth*(603/375); 
      
    // body.style.height = height + 'px';
    if (scale<1) {
      body.style.transform = 'scale(' + scale + ')';
      body.style.webkitTransform = 'scale(' + scale + ')';
    };
  </script> -->
  <!-- <script>
    if (navigator.userAgent.match(/^_ITZ_$/)) {
      document.body.style.backgroundImage = 'url(/images/safe/bg-app.jpg)';
    };
  </script> -->
  
  <div class="container">
    
    <div class="content">
      <div class="title">
        <img class="bar" src="/images/safe/bar.png">
        智选服务保障计划
      </div>
      
      <div class="aim">
        <img class="topshadow" src="/images/safe/top-shadow.png">
        <div class="box">
          <p class="line">“智选服务保障计划”是由安投融（北京）网络科技有限公司（下称“爱投资”）旗下通过www.itouzi.com及APP的网络借贷信息中介服务平台设立的、为更好的保护全体投资人的权益的服务保障计划。</p>
          <p class="line">除另有说明外，投资人经过平台身份认证后，符合本计划规定的平台投资行为的，均自动享有爱投资通过本计划提供的保障服务，计划成立初期投资人无需为此支付任何费用。爱投资有权根据市场和实际情况，对“智选服务保障计划”的保障机制和规则进行调整并通过平台公告的形式告知各投资人。</p>
          
          <p class="tit">一、“智选服务保障计划”定义及资金来源</p>
          <p class="line">1、“智选服务保障计划”定义</p>
          <p class="line">“智选服务保障计划”的保障模式为保障金模式，即爱投资在资金存管银行XX银行设立一个资金专用账户（智选服务保障计划账户），当在平台发生的适用于智选服务保障计划项下的每笔借款成交后，由爱投资平台从借款人收取的服务费中提取一定比例的保障金放入资金专用账户，用于对“智选服务保障计划”项下的逾期债务的保障。当受保障借款的投资人投资的受保障借款出现逾期时，爱投资将直接使用账户内的保障金向受保障借款的投资人偿付此笔借款，弥补投资人的损失。</p>
          <p class="line">2、“智选服务保障计划账户”定义</p>
          <p class="line">“智选服务保障计划账户”是以爱投资平台名义单独开设并由XX银行负责资金存管的一个专款专用账户。</p>
          <p class="line">3、“智选服务保障计划账户”资金来源</p>
          <p class="line pdl">（1）“智选服务保障计划账户”设立初始爱投资平台将向账户中注入资金5000万元；</p>
          <p class="line pdl">（2）在“智选服务保障计划”项下，爱投资会按照一定的比例从平台收取的服务费中计提，计提的标准为借款人单个项目服务费总额的0.5%，计提的资金将存放于“智选服务保障计划账户”中并由XX银行进行专户管理。针对各产品类型、借款人的计提标准和方式由爱投资制定并解释，爱投资有权根据实际业务的需要对相关内容进行调整，如有修改，爱投资将及时进行披露。</p>
          <p id="pdl-s" class="line pdl ">（3）在“智选服务保障计划”项下，爱投资将从投资人单笔投资利息收益中按0.3%的比例提取（最少0.01元，不足0.01元时不提取），计提的资金将存放于上述“智选服务保障计划账户”中并由XX银行进行专户管理。计划实施初期，投资人计提资金由爱投资平台承担，后续规则调整时会通过平台公告的形式告知各投资人。</p>
          
          <p class="tit">二、“智选服务保障计划”用途</p>
          <p class="line">“智选服务保障计划”专门用于在一定额度内补偿该计划所保障的投资人在借款人借款逾期时遭受的损失。</p>
          
          <p class="tit">三、“智选服务保障计划”使用规则</p>
          <p class="line">1、逾期支付规则</p>
          <p class="line">当“智选服务保障计划”所保障的投资项目的借款人借款出现逾期时，爱投资将“智选服务保障计划账户”中的资金先行垫付给对应的投资人，保障其应得的本金及收益。</p>
          <p class="line">2、全额偿付为原则，按比例偿付为例外的规则</p>
          <p class="line">在原则上，“智选服务保障计划”保障的范围是全体投资人所有的投资金额，但在“智选服务保障计划”的金额无法覆盖全部受保障投资人所有的到期未偿还投资金额时，由投资人按照各自对应的借款人的逾期本息金额占项目逾期本息总额的比例对“智选服务保障计划账户”当前余额进行分配。</p>
          <p class="line">3、有限偿付规则</p>
          <p class="line">“智选服务保障计划”是爱投资平台以历史借款数据为基础配置的有合理额度的资金，以期达到切实有效的保障投资人权益的目的。保障额度以“智选服务保障计划账户”资金总额为限，当该账户余额为零时，爱投资平台会及时确定处理方案，切实保障投资人权益。</p>
          <p class="line">4、收益转移规则</p>
          <p class="line">当受保障投资人的未清偿债权得到“智选服务保障计划”的清偿后，爱投资作为“智选服务保障计划”的提供者，将自动取得该笔未受清偿债权的持有权，该笔未受清偿债权在将来得到清偿的，则清偿所得的金额自动归入“智选服务保障计划账户”。</p>
          
          <p class="tit">四、声明</p>
          <p class="line">1、“智选服务保障计划”在性质上属于爱投资平台为全体投资人的共同权益而发起建立的风险防御机制，其本质是为投资人提供的福利，不构成对投资人借款本息的增信和担保，投资人仍应自行承担网络借贷存在的风险。</p>
          <p class="line">2、爱投资平台将根据具体业务情况不定期修改“智选服务保障计划”的相关内容。如作修改，将及时在爱投资平台进行公告。</p>
          <p class="line">3、本“智选服务保障计划”的制定和最终解释权归爱投资平台所有。</p>
          <p class="line">4、本“智选服务保障计划说明”自【2017】年【11】月【27】日起适用于“智选服务保障计划”项下发布的所有融资项目。</p>
        </div>
        <img class="sad" src="/images/safe/bottom-shadow.png">
      </div>
    </div>
  </div>
</body>
</html>