<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="/stylesheets/safeBaner.css">
  <script src="/javascripts/commen/rem.js"></script>
</head>
<body>
  <script>
    ;(function() {
      var body = document.body,
          scale = document.documentElement.clientHeight / 603,
          height = document.documentElement.clientWidth*(603/375); 
      
      body.style.height = height + 'px';
      if (scale<1) {
        body.style.transform = 'scale(' + scale + ')';
        body.style.webkitTransform = 'scale(' + scale + ')';
      };
      // if (navigator.userAgent.search('_ITZ_') > -1) {
      //   body.style.paddingTop = '1rem';
      // };
    })();
  </script>
  <div id="swiper-outer" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide sec sec1">
          <div class="container">
            <div class="jiao jiao-1"></div>
            <div class="jiao jiao-2"></div>
            <div class="jiao jiao-3"></div>
            <div class="jiao jiao-4"></div>

            <p class="title">100% 完美兑付</p>
            <p class="line">爱投资成立 X 年 X 个月以来，</p>
            <p class="line">累计成交额已达 XXX.XX 亿元，所有到期项目</p>
            <p class="line">均实现完美兑付零坏账，保障投资人的安全。</p>
        
            <div class="ani-box">
              <div class="icon-box">
                <div class="item">
                  <div class="icon">
                    <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                    <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                    <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
                
                    <img src="/images/safeBaner/icon/icon-01.png">
                  </div>
                  <p class="tit">8888888</p>
                  <p class="lin">注册用户数（人）</p>
                </div>
                <div class="item">
                  <div class="icon">
                    <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                    <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                    <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
                
                    <img src="/images/safeBaner/icon/icon-02.png">
                  </div>
                  <p class="tit">311256</p>
                  <p class="lin">已到期兑付项目</p>
                </div>
              </div>
              <div class="icon-box">
                <div class="item">
                  <div class="icon">
                    <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                    <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                    <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
                
                    <img src="/images/safeBaner/icon/icon-03.png">
                  </div>
                  <p class="tit">202</p>
                  <p class="lin">已支付本金（亿元）</p>
                </div>
                <div class="item">
                  <div class="icon">
                    <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                    <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                    <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
                
                    <img src="/images/safeBaner/icon/icon-04.png">
                  </div>
                  <p class="tit">23.1</p>
                  <p class="lin">已支付利息（亿元）</p>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="swiper-slide sec sec2">
        <div class="container">
          <div class="jiao jiao-1"></div>
          <div class="jiao jiao-2"></div>
          <div class="jiao jiao-3"></div>
          <div class="jiao jiao-4"></div>

          <p class="title">银行资金存管</p>
          <img class="img-1" src="/images/safeBaner/earth-2.png">
          <img class="img-2" src="/images/safeBaner/logo.png">
          <img class="img-3" src="/images/safeBaner/btn-2.png">

          <p class="line">爱投资联合XX银行，于2017年8月30日上线资金存管系统，完成全方位数据及资金对接，实现了资金分账户管理，资金流向更加透明、合规，资金安全性得到进一步提升。</p>
        </div>
      </div>
      
      <div class="swiper-slide sec sec3">
        <div class="container">
          <div class="jiao jiao-1"></div>
          <div class="jiao jiao-2"></div>
          <div class="jiao jiao-3"></div>
          <div class="jiao jiao-4"></div>

          <p class="title">本息保障机制</p>

          <div class="ani-box">
            <div class="icon-box">
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-05.png">
                </div>
                <p class="tit">合作保障机构</p>
                <p class="lin">目前爱投资已与全国80多家保障机构达成战略合作。保障机构不仅从贷前会对项目进行调研及风险评估，也会与爱投资一起进行贷后管理。</p>
              </div>
            </div>
          </div>
          <div class="ani-box">
              <div class="icon-box">
                <div class="item">
                  <div class="icon">
                    <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                    <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                    <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
                
                    <img src="/images/safeBaner/icon/icon-06.png">
                  </div>
                  <p class="tit">智选服务保证计划 &gt;</p>
                  <p class="lin">“智选服务保障计划”是由安投融（北京）网络科技有限公司（下称“爱投资”）旗下通过 www.itouzi.com 及APP的网络借贷信息中介服务平台设立的、为更好的保护全体投资人的权益的服务保障计划。</p>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="swiper-slide sec sec4">
        <div class="container">
          <div class="jiao jiao-1"></div>
          <div class="jiao jiao-2"></div>
          <div class="jiao jiao-3"></div>
          <div class="jiao jiao-4"></div>

          <p class="title">平台实力保障</p>

          <p class="line">爱投资作为中国互联网金融协会首批会员、中国支付清算协会会员单位、国家互联网金融安全技术专家委员会成员，爱投资一路以来一直走在合规发展最前沿。</p>
          
          <div class="content">
            <div class="titles">
              <img class="bar" src="/images/safe/bar.png">
              title
            </div>
            
            <div class="aim">
              <div class="box">
                <div id="swiper-inner" class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="/images/safeBaner/banner.jpg">
                    </div>
                    <div class="swiper-slide">
                      <img src="/images/safeBaner/banner.jpg">
                    </div>
                    <div class="swiper-slide">
                      <img src="/images/safeBaner/banner.jpg">
                    </div>
                  </div>
                  <!-- 如果需要分页器 -->
                  <div class="swiper-pagination swiper-inner-bar"></div>
                </div>
                <img class="sad" src="/images/safeBaner/bottom-shadow.png">
              </div>
            </div>
          </div>

          <p class="lin">国家互联网金融安全技术专家委员会</p>
        </div>
      </div>

      <div class="swiper-slide sec sec5">
        <div class="container">
          <div class="jiao jiao-1"></div>
          <div class="jiao jiao-2"></div>
          <div class="jiao jiao-3"></div>
          <div class="jiao jiao-4"></div>

          <p class="title">平台合规保障</p>
          
          <div class="ani-box">
            <div class="item line">
              <div class="icon">
                <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
            
                <img src="/images/safeBaner/icon/icon-07.png">
              </div>
              <div class="cnt">
                <p class="tit">信息披露详尽</p>
                <p class="lin">专业风控团队 全方位尽职调查</p>
              </div>
            </div>
            <div class="item line right">
              <div class="cnt">
                <p class="tit">风控流程严谨</p>
                <p class="lin">8道审核工序 37层严格筛选</p>
              </div>
              <div class="icon">
                <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
            
                <img src="/images/safeBaner/icon/icon-08.png">
              </div>
            </div>
            <div class="item line">
              <div class="icon">
                <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
            
                <img src="/images/safeBaner/icon/icon-09.png">
              </div>
              <div class="cnt">
                <p class="tit">AFCA 安全认证</p>
                <p class="lin">权威安全机构认证 安全再上一道锁</p>
              </div>
            </div>
            <div class="item line right">
              <div class="cnt">
                <p class="tit">法律法规保障</p>
                <p class="lin">合作金杜律师事务所 合理合规合法</p>
              </div>
              <div class="icon">
                <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
            
                <img src="/images/safeBaner/icon/icon-10.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide sec sec6">
        <div class="container">
          <div class="jiao jiao-1"></div>
          <div class="jiao jiao-2"></div>
          <div class="jiao jiao-3"></div>
          <div class="jiao jiao-4"></div>

          <p class="title">平台技术保障</p>
      
          <div class="ani-box">
            <div class="icon-box">
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-11.png">
                </div>
                <p class="tit">数据传输加密</p>
              </div>
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-12.png">
                </div>
                <p class="tit">混合云架构数据中心</p>
              </div>
            </div>
            <div class="icon-box">
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-13.png">
                </div>
                <p class="tit">数据中心异地灾备</p>
              </div>
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-14.png">
                </div>
                <p class="tit">敏感数据脱敏</p>
              </div>
            </div>
            <div class="icon-box">
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-15.png">
                </div>
                <p class="tit">多因子认证</p>
              </div>
              <div class="item">
                <div class="icon">
                  <img class="icon-1" src="/images/safeBaner/icon-bg/01.png">
                  <img class="icon-2" src="/images/safeBaner/icon-bg/02.png">
                  <img class="icon-3" src="/images/safeBaner/icon-bg/03.png">
              
                  <img src="/images/safeBaner/icon/icon-16.png">
                </div>
                <p class="tit">安全审计</p>
              </div>
            </div>
          </div>

          <div class="btn-3">
            立即注册
            <img class="light" src="/images/safeBaner/light.png">
          </div>
        </div>
      </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination swiper-outer-bar"></div>
  </div>


  <script src="/javascripts/commen/zepto.min.js"></script>  
  <script src="/javascripts/swiper-3.4.2.min.js"></script>
  <script>
    $(function() {
      var swiper1 = $('.swiper-outer-bar');
      new Swiper('#swiper-outer', {
        pagination: '.swiper-outer-bar',
        paginationClickable: true,
        onTransitionStart: function(e){
          if (e.activeIndex === 5) {
            swiper1.hide();
          } else {
            swiper1.show();
          }
        }
      });

      new Swiper('#swiper-inner', {
        pagination: '.swiper-inner-bar',
        paginationClickable: true
      });

      function numAni(num, time, $tar) {
        var scale = num/20/time;
        setInterval(function() {
          $tar.html(scale);
        }, 20);
      };
    });
  </script>
</body>
</html>