<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>特权</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/tequan.css">
  <script src="/javascripts/commen/rem.js"></script>
</head>
<body>
  <div class="container">
    <p class="title">
      <span class="icon"></span>
      权益介绍
    </p>
    <p class="line">人生，就是不断地打怪升级。在爱投资每一次升级，都有惊喜礼包等着你！等级越高，礼包越大~</p>
    
    <p class="title">
      <span class="icon icon-2"></span>
      规则说明
    </p>
    <p class="line">1.会员生日以注册时的身份证信息为准，当日0点所在的会员等级对应领取相应的礼包。</p>
    <p class="line">2.生日当天起一周内可领取礼包，逾期不可领取。</p>
    
    <p class="title">
      <span class="icon icon-3"></span>
      权益详情
    </p>

    <div class="rank">
      <div class="item">
        <span class="item-l">会员等级</span>
        <span class="item-r">生日礼包</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon"></i></span>
        <span class="item-r">88</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon rank-icon-2"></i></span>
        <span class="item-r">188</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon rank-icon-3"></i></span>
        <span class="item-r">288</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon rank-icon-4"></i></span>
        <span class="item-r">588</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon rank-icon-5"></i></span>
        <span class="item-r">888</span>
      </div>
      <div class="item">
        <span class="item-l"><i class="rank-icon rank-icon-6"></i></span>
        <span class="item-r">1888</span>
      </div>
    </div>
  </div>
</body>
</html>