<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>预期年化收益</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/yuqi.css">
  <script src="/javascripts/commen/rem.js"></script>
</head>
<body>
  <div class="tips">
    您当前持有天数为50天，正在按下图红色区域利率结算，持有天数越长，预期年化收益越高
  </div>

  <div class="info-box">
    <div class="item box-head">
      <div class="items">持有天数</div>
      <div class="items">预期年化收益</div>
    </div>
    <div class="item">
      <div class="items">7天</div>
      <div class="items">5.50%</div>
    </div>
    <div class="item">
      <div class="items">7天</div>
      <div class="items">5.50%</div>
    </div>
    <div class="item act">
      <div class="items">7天</div>
      <div class="items">5.50%</div>
    </div>
    <div class="item">
      <div class="items">7天</div>
      <div class="items">5.50%</div>
    </div>
  </div>

  <div><%=test%></div>
  <script>
  </script>
</body>
</html>